<div class="sign__form">
  <div class="form__container">
    <form [formGroup]="signUpForm">
      <h2>Sign Up</h2>
      <input type="text" placeholder="Enter your login" formControlName="login">
      <div class="error" *ngIf="signUpForm.controls['login'].invalid && signUpForm.controls['login'].touched">
        {{getErrorMessage()}}
      </div>
      <input type="password" placeholder="Enter your password" formControlName="password">
      <div class="error" *ngIf="signUpForm.controls['password'].invalid && signUpForm.controls['password'].touched">
        {{getErrorPasswordMessage()}}
      </div>
      <button
        [disabled]="signUpForm.invalid"
        class="btn btn-primary"
        (click)="onSignUp()"
      >Sign Up
      </button>
      <button
        [routerLink]="['/signin']"
      >Sign In
      </button>
    </form>
  </div>
</div>
